---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: vpcendpoints.avo.openshift.io
spec:
  group: avo.openshift.io
  names:
    kind: VpcEndpoint
    listKind: VpcEndpointList
    plural: vpcendpoints
    singular: vpcendpoint
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VpcEndpoint is the Schema for the vpcendpoints API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: VpcEndpointSpec defines the desired state of VpcEndpoint
            properties:
              externalNameService:
                description: ExternalServiceName is the name of the Kubernetes Service
                  supporting the VPC Endpoint Service
                properties:
                  externalName:
                    description: ExternalName is the DNS record of the Kubernetes
                      Service supporting the VPC Endpoint Service
                    type: string
                  metadata:
                    type: object
                  type:
                    description: type is the type of the Kubernetes Service supporting
                      the VPC Endpoint Service
                    type: string
                required:
                - externalName
                - type
                type: object
              securityGroup:
                description: SecurityGroup contains the configuration of the security
                  group attached to the VPC Endpoint
                properties:
                  egressRules:
                    description: EgressRules is a list of security group egress rules
                      They will be allowed for the master and worker security groups.
                    items:
                      description: SecurityGroupRule is based on required inputs for
                        aws authorize-security-group-ingress/egress
                      properties:
                        fromPort:
                          description: FromPort and ToPort are the start and end of
                            the port range to allow. To allow a single port, set both
                            to the same value.
                          format: int64
                          type: integer
                        protocol:
                          description: Protocol is the IP protocol, tcp | udp | icmp
                            | all
                          type: string
                        toPort:
                          description: FromPort and ToPort are the start and end of
                            the port range to allow To allow a single port, set both
                            to the same value.
                          format: int64
                          type: integer
                      type: object
                    type: array
                  ingressRules:
                    description: IngressRules is a list of security group ingress
                      rules. They will be allowed for the master and worker security
                      groups.
                    items:
                      description: SecurityGroupRule is based on required inputs for
                        aws authorize-security-group-ingress/egress
                      properties:
                        fromPort:
                          description: FromPort and ToPort are the start and end of
                            the port range to allow. To allow a single port, set both
                            to the same value.
                          format: int64
                          type: integer
                        protocol:
                          description: Protocol is the IP protocol, tcp | udp | icmp
                            | all
                          type: string
                        toPort:
                          description: FromPort and ToPort are the start and end of
                            the port range to allow To allow a single port, set both
                            to the same value.
                          format: int64
                          type: integer
                      type: object
                    type: array
                type: object
              serviceName:
                description: ServiceName is the name of the VPC Endpoint Service to
                  connect to
                minLength: 0
                type: string
              subdomainName:
                description: SubdomainName is the name of the Route53 Hosted Zone
                  CNAME rule to create in the cluster's Private Route53 Hosted Zone
                type: string
            required:
            - securityGroup
            - serviceName
            - subdomainName
            type: object
          status:
            description: VpcEndpointStatus defines the observed state of VpcEndpoint
            properties:
              externalNameServiceStatus:
                description: ExternalServiceNameStatus is the status of the ExternalName
                  service
                properties:
                  apiVersion:
                    description: 'APIVersion defines the versioned schema of this
                      representation of an object. Servers should convert recognized
                      schemas to the latest internal value, and may reject unrecognized
                      values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
                    type: string
                  code:
                    description: Suggested HTTP return code for this status, 0 if
                      not set.
                    format: int32
                    type: integer
                  details:
                    description: Extended data associated with the reason.  Each reason
                      may define its own extended details. This field is optional
                      and the data returned is not guaranteed to conform to any schema
                      except that defined by the reason type.
                    properties:
                      causes:
                        description: The Causes array includes more details associated
                          with the StatusReason failure. Not all StatusReasons may
                          provide detailed causes.
                        items:
                          description: StatusCause provides more information about
                            an api.Status failure, including cases when multiple errors
                            are encountered.
                          properties:
                            field:
                              description: "The field of the resource that has caused
                                this error, as named by its JSON serialization. May
                                include dot and postfix notation for nested attributes.
                                Arrays are zero-indexed.  Fields may appear more than
                                once in an array of causes due to fields having multiple
                                errors. Optional. \n Examples: \"name\" - the field
                                \"name\" on the current resource \"items[0].name\"
                                - the field \"name\" on the first array entry in \"items\""
                              type: string
                            message:
                              description: A human-readable description of the cause
                                of the error.  This field may be presented as-is to
                                a reader.
                              type: string
                            reason:
                              description: A machine-readable description of the cause
                                of the error. If this value is empty there is no information
                                available.
                              type: string
                          type: object
                        type: array
                      group:
                        description: The group attribute of the resource associated
                          with the status StatusReason.
                        type: string
                      kind:
                        description: 'The kind attribute of the resource associated
                          with the status StatusReason. On some operations may differ
                          from the requested resource Kind. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                        type: string
                      name:
                        description: The name attribute of the resource associated
                          with the status StatusReason (when there is a single name
                          which can be described).
                        type: string
                      retryAfterSeconds:
                        description: If specified, the time in seconds before the
                          operation should be retried. Some errors may indicate the
                          client must take an alternate action - for those errors
                          this field may indicate how long to wait before taking the
                          alternate action.
                        format: int32
                        type: integer
                      uid:
                        description: 'UID of the resource. (when there is a single
                          resource which can be described). More info: http://kubernetes.io/docs/user-guide/identifiers#uids'
                        type: string
                    type: object
                  kind:
                    description: 'Kind is a string value representing the REST resource
                      this object represents. Servers may infer this from the endpoint
                      the client submits requests to. Cannot be updated. In CamelCase.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                    type: string
                  message:
                    description: A human-readable description of the status of this
                      operation.
                    type: string
                  metadata:
                    description: 'Standard list metadata. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                    properties:
                      continue:
                        description: continue may be set if the user set a limit on
                          the number of items returned, and indicates that the server
                          has more data available. The value is opaque and may be
                          used to issue another request to the endpoint that served
                          this list to retrieve the next set of available objects.
                          Continuing a consistent list may not be possible if the
                          server configuration has changed or more than a few minutes
                          have passed. The resourceVersion field returned when using
                          this continue value will be identical to the value in the
                          first response, unless you have received this token from
                          an error message.
                        type: string
                      remainingItemCount:
                        description: remainingItemCount is the number of subsequent
                          items in the list which are not included in this list response.
                          If the list request contained label or field selectors,
                          then the number of remaining items is unknown and the field
                          will be left unset and omitted during serialization. If
                          the list is complete (either because it is not chunking
                          or because this is the last chunk), then there are no more
                          remaining items and this field will be left unset and omitted
                          during serialization. Servers older than v1.15 do not set
                          this field. The intended use of the remainingItemCount is
                          *estimating* the size of a collection. Clients should not
                          rely on the remainingItemCount to be set or to be exact.
                        format: int64
                        type: integer
                      resourceVersion:
                        description: 'String that identifies the server''s internal
                          version of this object that can be used by clients to determine
                          when objects have changed. Value must be treated as opaque
                          by clients and passed unmodified back to the server. Populated
                          by the system. Read-only. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency'
                        type: string
                      selfLink:
                        description: "selfLink is a URL representing this object.
                          Populated by the system. Read-only. \n DEPRECATED Kubernetes
                          will stop propagating this field in 1.20 release and the
                          field is planned to be removed in 1.21 release."
                        type: string
                    type: object
                  reason:
                    description: A machine-readable description of why this operation
                      is in the "Failure" status. If this value is empty there is
                      no information available. A Reason clarifies an HTTP status
                      code but does not override it.
                    type: string
                  status:
                    description: 'Status of the operation. One of: "Success" or "Failure".
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#spec-and-status'
                    type: string
                type: object
              hostedZoneRecordCreated:
                description: Whether the Route53 CNAME record has been created
                type: boolean
              securityGroupId:
                description: The AWS ID of the managed security group
                type: string
              status:
                description: Status of the VPC Endpoint
                type: string
              vpcEndpointId:
                description: The AWS ID of the managed VPC Endpoint
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
